li>a#link:hover{
	background-color:#000;
	color:#fff;
}
.navbar-nav .nav-link{
	padding-left:10px;
} 
#nav{
	background-color:grey !important;
}
.menu{
	text-align: center;
	padding:20px;
}
h3{
	text-align: center;
}
.part{
	background-color: #e4dc65;
}
p{
	padding:10px;
}

